body{
  margin: 0px;
  padding: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}


#header_logo{

  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: #F39C12;
}

h1{
  font-size: 3rem;
  padding:0px;
  margin:0;
  margin-right:auto;
  margin-left: 50px;

}
#date_time{

}
