
#nav-int{
  /*height:800px ;*/
  width: 215px;
  background-color: #1C1F4C;
  color:#fff;
  font-size: 1rem;
  text-decoration: none;
  font-style: normal;
}

#nav-top #user{
  font-size: 0.87rem;
  font-weight: bold;
}
#carrier{
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
}

#nav-middle #menu {
  font-size: 1rem;
  
}

#submenu1 li{
  font-size: 0.87rem;
}